<?xml version='1.0' encoding='utf-8'?>
<widget id="com.phonegab.fadp" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
    <name>FOCUS</name>
    <description>
        PAGINA DE TRABAJOS
    </description>
    <author email="angieangel042.com" href="http://www.focus.com">
        BIENVENIDOS
    </author>
    <content src="index.html" />

 
    <access origin="http://especialistasenlaweb.com" />
    <plugin name="cordova-plugin-whitelist" source="npm">
    <allow-navigation href="*" />
    <allow-intent href="*" />
   

</widget>
